<div class="container">
  <div class="row">

<h2> <%= @schedule.name %> </h2> 

<div class="column">
  <%= form_tag(schedule_edit_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Courses", size: 50 %>
  <div style="display: inline-block; font-size: 16px;"> <%= submit_tag "Search", :class => 'button right small' %> </div>
  <% end %>
</div>

<div class="column" style="width: 70%;">
  <h3> Current Courses </h3>
  <% if @schedule.courses.empty? %>
     <p style="font-size: 20px;"> There are no courses on here :'( </p>
  <% else %>
    <table class="table">
      <tr>
          <th>Name</th>
          <th>Course Title</th>
          <th>Options</th>
      </tr>
      <% @schedule.courses.each do |c| %>
        <tr>

          <td> <%= c.subject %> <%= c.nbr %> </td>
          <td> <%= c.title %> </td>
          <td>
            <div style="display: inline-block; height: 40px;"><%= button_to "Delete Course", schedule_course_delete_path(course_id: c.id, id: @schedule.id), :class => "button small", :method => 'delete' %></div>
            <div style="display: inline-block; height: 40px;"><%= button_to "Course Info", course_show_path(id: c.id), :class => "button small", :method => :get %></div>
          </td>
        </tr>

      <% end %>
    </table>
  <% end %>
</div>
  <div style="font-size: 16px;"><%= button_to "Update Schedule", schedule_show_path(id: @schedule.id), :class => "button medium", :method => :get %></div>
<div>

</div>

<% if @courses %>
  <h3>Results</h3>
      <div class="column">
        <table class="table">
          <tr>
              <th>Name</th>
              <th>Course Title</th>
              <th>Options</th>
          </tr>
            <% @courses.each do |c| %>
              <tr>
                <td><%= c.subject %> <%= c.nbr %> </td>
                <td> <%= c.title %> </td>
                <td> <div style="display: inline-block; height: 40px;"><%= button_to "Add Class", schedule_add_class_path(course_id: c.id, id: @schedule.id), :class => "button small", :method => :get %> </div>
                      <div style="display: inline-block; height: 40px;"><%= button_to "Course Info", course_show_path(id: c.id), :class => "button small", :method => :get %></div>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
  <% end %>


  </div>
</div>
