<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
      <%= render 'layouts/navigation' %>
    </header>
    <!-- Uncomment below only if we want to implement messages, should focus on other things first -->
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main> 
</body>
</html>
