
<div class="container" style="margin-bottom: 50px;">
  <div class="row">
  <div style="margin-top: 50px; margin-bottom: 20px;"> <img src="http://placehold.it/150x150"> </div>
  <h1>Student</h1>
  <p style="font-size: 16px;">Email: <%= @student.email if @student.email %></p>

  <h3>Main Schedule: <%= @schedule.name %> </h3>
  <div class="column">
    <h3> Courses </h3>
    <p style="font-size: 18px;"> You currently have <%= @schedule.courses.count %> Course(s) </p>
    <table class="table" style="width: 60%">
        <tr>
            <th>Name</th>
            <th>Course Title</th>
        </tr>
        <% @schedule.courses.each do |c| %>
        <tr>
            <td> <%= c.subject %> <%= c.nbr %> </td>
            <td> <%= c.title %> </td>
        </tr>
        <% end %>
      <div style="display: inline-block; margin-right: 5px;"><%= button_to "Edit Schedule", schedule_edit_path(id: @schedule.id), :class => "button medium", :method => :get %></div>
    </table>

  </div>


  <br> <br>

  <div style="display: inline-block; margin-right: 5px;"><%= button_to "Add New Schedule", schedule_new_path, :class => "button medium", :method => :get %></div>
  <div style="display: inline-block;"><%= button_to "View All Schedules", schedule_index_path, :class => "button medium", :method => :get %></div>
</div>
</div>
