<div class="container">
  <div class="row">
    <h2><%= @subject %></h2>
    <div class="column">
      <table class="table">
        <tbody>
          <% @courses.each do |c| %>
            <tr>
              <%= c.subject %> <%= c.nbr%>: <%= c.title%> 
              <%= link_to "[More Info]", course_show_path(id: c.id) %>
              <br>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
