<div style="margin-left: 50px;">
	<h1> <%= @course.subject %> <%= @course.nbr %>: <%= @course.title %> </h1>
	<p> Location: <%= @course.location %> </p>
	<p> Days: <%= @course.days %> </p>
	<p> Time: <%= @course.start_time %> - <%= @course.end_time %> </p>
	<p> Instructor: <%= @course.instructor %> </p>
	<p> Description: <%= @course.description %> </p>

	<h2>Comments</h2>
	<table class="table">
		<tbody>
			<% @comments.each do |c| %>
				<tr>
					<% if c.course_id == @course.id %>
						<% if c.user == 'admin' %>
							<p><%= link_to c.email, admin_show_path(id: @admins.find_by(:email => c.email).id) %> said on <%= c.created_at %>: </p>
		            		<p><%= c.text %></p>
		            	<% elsif c.user == 'student' %>
		            		<p><%= link_to c.email, student_show_path(id: @students.find_by(:email => c.email).id) %> said on <%= c.created_at %>: </p>
		            		<p><%= c.text %></p>
		            	<% end %>
		            <% end %>
	        	</tr>		
	        <% end %>
	    </tbody>
	</table>
	<%= form_for @comment, :url => comments_path(id: @course.id) do |c| %>
  		<div class="form-group">
        	<%= c.label :text, 'Enter your comment here:' %>
        	<%= c.text_field :text, :autofocus => true, class: 'form-control' %>
      	</div>
	    <%= c.submit 'Submit', :class => 'button right' %>
	<% end %>

	<%= button_to "Back", course_department_path(subject: @course.subject), :class => "button medium", :method => :get %>
</div>