<!-- <p><%= Student.count %> student(s) registered</p>
<p><%= Admin.count %> admin(s) registered</p>
<p><%= Course.count %> course(s) added </p> -->

<div class="home-page" style="text-align: center;">
<!-- <p><%= Student.count %> student(s) registered</p>
<p><%= Admin.count %> admin(s) registered</p>
<p><%= Course.count %> course(s) added </p> -->
  <h1 class="home-header"> SCHEDULER </h1>
    <div class="container" style="height: 600px;">

    </div>
    <div class="bottom-container">
    </div>
</div>
